<article class="project">
  <section class="name">
    <h1><%= @project.name %></h1>
    <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-outline-success' %>
    <%= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' },
                class: 'btn btn-outline-danger' %>
  </section>
  <small><%= @project.start_date %> | <%= @project.end_date %></small>
  <section class="summary">
    <p><%= @project.summary %></p>
  </section>
</article>

<div class="tasks">
  <h2>Tasks:</h2>
  <table>
    <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><h3><%= task.title %></h3></td>
        <td><%= link_to 'Show', task_path(task), class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_task_path(task), class: 'btn btn-success' %></td>
        <td><%= link_to 'Delete', task_path(task), method: :delete, data: { confirm: 'Are you sure?' },
                        class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>