<!DOCTYPE html>
<html>
  <head>
    <title>ProjectManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-toggleable-md" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="<%= projects_path %>">All Projects</a>
        <div class="btn-group" role="group" aria-label="Basic example">
          <%= link_to 'New Task', new_task_path, class: 'btn btn-primary' %>
          <%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>
        </div>
      </nav>
    </div>

    <div class="container main">
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |name, message| %>
            <div class="alert <%= bootstrap_class_for(name) %>">
              <button class="close" data-dismiss="alert">&times;</button>
              <%= message %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container main">
      <%= yield %>
    </div>
  </body>
</html>
